@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito Sans", sans-serif;
  }

  body {
    @apply m-0 p-0 box-border;
  }

  .nav-link {
    @apply bg-transparent text-t-light dark:text-t-dark font-medium duration-200 text-lg hover:text-d-light;
  }

  .form-case {
    @apply flex flex-col gap-6 px-4;
  }

  .form-group {
    @apply flex flex-col gap-1 sm:min-w-[30rem];
  }

  .form-group > label {
    @apply font-bold uppercase text-xs text-d-light dark:text-d-dark;
  }

  .form-control {
    @apply bg-bg-light rounded-sm ring-1 ring-gray-300  py-2 px-2 focus:ring-0 focus:outline-d-light active:border-none placeholder:italic placeholder:font-light dark:text-gray-200 dark:ring-gray-400 placeholder:text-sm dark:bg-slate-700 dark:placeholder:text-gray-400;
  }
  textarea {
    @apply resize-y bg-bg-light rounded-sm ring-1 ring-gray-300  py-2 px-2 focus:ring-0 focus:outline-d-light active:border-none placeholder:italic placeholder:font-light dark:text-gray-200 dark:ring-gray-400 placeholder:text-sm dark:bg-slate-700 dark:placeholder:text-gray-400; ;
  }
  .btn {
    @apply bg-d-dark rounded-full py-2 text-gray-200 dark:text-t-dark font-medium duration-200 text-lg  hover:text-gray-50 hover:bg-d-light my-5  disabled:cursor-not-allowed;
  }
  .tab {
    @apply px-3 dark:text-t-dark font-bold tracking-wider w-fit relative duration-200 cursor-pointer select-none;
  }
  .tab.active {
    @apply text-d-light dark:text-d-dark  after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-d-light dark:after:bg-d-dark;
  }
}
